.hero {
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: end;
  padding-top: 50px;
}

.hero-title {
  font-family: 'Times New Roman', Times, serif;
  padding-left: 3%;
  line-height: 1.1;
}

.hero-image {
  height: 266px;
  width: auto;
}

.hero-headline {
  font-size: 3.5rem;
}

@media (max-width: 768px) {
  .hero-title {
    padding-right: 20px;
  }
}

@media (max-width: 480px) {
  .hero-title {
    padding-right: 10px;
  }
}

@media (max-width: 719px) {
  .hero-headline {
    font-size: 3rem;
  }
}

@media (max-width: 668px) {
  .hero-headline {
    font-size: 2rem;
  }
  .hero-image {
    height: 166px;
    width: auto;
  }
}

@media (max-width: 550px) {
  .hero-image {
    height: 100px;
    width: auto;
  }
}

.hero-sub-heading {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@media (max-width: 480px) {
  .hero-sub-heading {
    font-size: 0.75rem;
  }
}

.nav-options {
  padding-left: 15%;

  .primary {
    background-color: rgb(175, 105, 19);
    color: #f6f5f0;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
    cursor: pointer;
  }

  .tertiary {
    background-color: rgb(38, 30, 30);
    color: #f6f5f0;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
    cursor: pointer;
  }
}

@media (max-width: 1290px) {
  .nav-options {
    padding-left: 3%;
  }
}

@media (max-width: 480px) {
  .nav-options .primary,
  .nav-options .tertiary {
    font-size: 0.65rem;
    padding: 0.25rem 1rem;
  }
}

@media (max-width: 350px) {
  .nav-options .primary,
  .nav-options .tertiary {
    padding: 0.25rem 0.25rem;
  }
}

.nav-cards {
  padding: 2rem;

  .nav-card-caption {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
  }

  .nav-cards-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .nav-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 20%;
      height: auto;
      border-radius: 0.5rem;
      padding: 1.5rem;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }

    @media (prefers-reduced-motion: no-preference) {
      .nav-card {
        transition:
          box-shadow 0.2s ease,
          transform 0.2s ease;
      }
    }

    .nav-card:hover {
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }

    @media (prefers-reduced-motion: no-preference) {
      .nav-card:hover {
        transform: translateY(-4px);
      }
    }
  }
}

@media (max-width: 480px) {
  .nav-cards .nav-card-caption {
    font-size: 0.75rem;
  }
  .nav-cards .nav-cards-container {
    font-size: 0.7rem;
  }
}

@media (max-width: 350px) {
  .nav-cards .nav-cards-container {
    font-size: 0.6rem;
  }
}
